{% extends "layout.njk" %}

{% block head %}
<title>Portfólio - Max Wesley</title>
{% endblock %}

{% block content %}
<main>
    <section>
        <h1>Aulas</h1>
        <ul>
            {% for item in items %}
            <li class="aula" id="{{item.id}}">
                <div class="image__container {{ 'featured-wrapper' if item.featured }}">
                    <img src="https://img.youtube.com/vi/{{item.id}}/maxresdefault.jpg" alt="Imagem do vídeo {{item.title}}" />
                    {% if item.featured %}
                        <div class="featured">Featured</div>
                    {% endif %}
                </div>
                <div class="main">
                    <p class="title-video">
                        {{item.title}}
                    </p>
                    <div>
                        <span class="duration">{{item.duration}}</span>
                        <span class="price-tag">{{item.price}}</span>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </section>
</main>

<script src="./scripts.js"></script>

{% endblock %}