{% extends "layout.njk" %}

{% block head %}
<title>{{item.title}} - Max Wesley</title>
{% endblock %}

{% block content %}
<main>
    <section class="video">
        <h1 class="title">{{item.title}}</h1>
        <div class="card" id="{{item.id}}">
            <div class="video__container">
                <iframe src="https://www.youtube.com/embed/{{item.id}}" frameborder="0"></iframe>
            </div>
            <div class="main">
                <p class="title-video">
                    {{item.title}}
                </p>
                <div>
                    <span class="duration">{{item.duration}}</span>
                    <span class="price-tag">{{item.price}}</span>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}